.about-us__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about-us__content {
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 282px auto;
  grid-column-gap: 79px;
  justify-content: space-between;
}

.about-us__box-bg {
  grid-column: 1/2;
  grid-row: 1/3;

}

.about-us__box-text {
  grid-column: 2/3;
  grid-row: 1/2;
}

.about-us__figure {
  grid-column: 2/3;
  grid-row: 2/3;
}


.about-us__box-bg {
  width: 100%;
  height: 596px;
  background-image: url("../img/about-us/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__box-text {
  max-width: 570px;
  padding-right: 2px;
}
.about-us__text_margin {
  margin-bottom: 26px;
}

.about-us__text_right {
  padding-right: 10px;
  margin-bottom: 60px;
}

.about-us__figure {
}

.about-us__blockquote {
  margin: 0 0 30px 0;
  padding-right: 50px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

.about-us__blockquote:before {
  content: "“";
  position: absolute;
  width: 39px;
  height: 35px;
  top: -12px;
  left: 1px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__blockquote:after {
  content: "”";
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__container {
  display: flex;
  flex-direction: row-reverse;

}
.about-us__name {
  max-width: 280px;
  display: block;
  padding-right: 10px;
  position: relative;
}

.about-us__name:before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("/img/about-us/arcadiy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -107px;
}

/*
.about-us__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about-us__box-bg {
  width: 600px;
  height: 596px;
  background-image: url("../img/about-us/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__box-text {
  max-width: 570px;
  padding-left: 71px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
}


.about-us__text_margin {
  margin-bottom: 26px;
}

.about-us__text_right {
  padding-right: 10px;
  margin-bottom: 60px;
}

.about-us__blockquote {
  margin: 0 0 30px 0;
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-us__blockquote:before {
  content: "“";
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__blockquote:after {
  content: "”";
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__container {
  display: flex;
  flex-direction: row-reverse;

}
.about-us__name {
  max-width: 280px;
  display: block;
  padding-right: 10px;
  position: relative;
}

.about-us__name:before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("/img/about-us/arcadiy.png");
  position: absolute;
  left: -107px;
}*/

@media (max-width: 1200px) {

  .about-us__caption {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about-us__content {
    grid-template-columns: 420px auto;
    grid-template-rows: 232px auto;
    grid-column-gap: 39px;
  }


  .about-us__box-bg {
    height: 417px;
  }

  .about-us__box-text {
    max-width: 444px;
  }

  .about-us__text_margin {
    margin-bottom: 13px;
  }

  .about-us__text_right {
    padding-right: 10px;
    margin-bottom: 37px;
  }

  .about-us__figure {
  }

  .about-us__blockquote {
    margin-bottom: 13px;
    padding-right: 45px;
    padding-left: 25px;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;

  }

  .about-us__blockquote:before {
    content: "“";
    position: absolute;
    width: 15px;
    height: 36px;
    top: -12px;
    left: 1px;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-color, #6C0287);
  }

  .about-us__blockquote:after {
    content: "”";
    width: 15px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-color, #6C0287);
  }

  .about-us__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-us__name {
    font-size: 18px;
    line-height: 26px;
    max-width: 225px;
  }

  .about-us__name:before {
    width: 70px;
    height: 70px;

  }
}

@media (max-width: 768px) {
  .about-us__caption {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about-us__content {
    grid-template-columns: 382px auto;
    grid-template-rows: 380px auto;
    grid-column-gap: 28px;
    grid-row-gap: 41px;
  }

  .about-us__box-bg {
    grid-column: 1/2;
    grid-row: 1/2;

  }

  .about-us__box-text {
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .about-us__figure {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .about-us__box-bg {
    height: 380px;
  }

  .about-us__box-text {
    max-width: 444px;
  }

}

@media (max-width: 480px) {
  .about-us__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about-us__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .about-us__box-text {
    order: -1;
  }

  .about-us__text_right {
    padding-right: 0;
    margin-bottom: 0;
  }

  .about-us__box-bg {
    height: 280px;
  }

  .about-us__blockquote {
    margin-bottom: 13px;
    padding-right: 0;
    padding-left: 15px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
  }

  .about-us__blockquote:before {
    width: 11px;
    height: 50px;
    top: -12px;
    left: 1px;
    font-size: 22px;
    line-height: 50px;
  }

  .about-us__blockquote:after {
    position: absolute;
    width: 11px;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
    top: 37px;
    padding-left: 5px;
  }

  .about-us__container {
    flex-direction: row;
  }

  .about-us__name {
    max-width: 240px;
    padding-left: 67px;
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__name:before {
    width: 56px;
    height: 56px;
    left: 0;
  }

}

