.about-us__content {
  min-height: 596px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}


.about-us__box-bg {
  width: 600px;
  height: 596px;
  background-image: url("../img2/about-us.jpg");
}


.about-us__box-text {
  width: 570px;
  height: 596px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}


.about-us__text-margin {
  margin-bottom: 2em;
}

.about-us__blockquote {
  text-indent: -0.7em;
  font-size: 44px;
  font-style: normal;
  line-height: 50px;
  text-transform: uppercase;
  quotes: "“" "”" "‘" "’";
}

.about-us__blockquote:before {
  content: open-quote;
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
}

.about-us__blockquote:after {
  content: close-quote;
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
}

.about-us__container {
  padding-left: 220px;
}

.about-us__cite {
  position: relative;
}

.about-us__cite:before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("/img2/arcadiy.png");
  position: absolute;
  left: -110px;
}

