.about-us__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about-us__box-bg {
  width: 600px;
  height: 596px;
  background-image: url("../img/about-us/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__box-text {
  max-width: 570px;
  padding-left: 71px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
}


.about-us__text_margin {
  margin-bottom: 26px;
}

.about-us__text_right {
  padding-right: 10px;
  margin-bottom: 60px;
}

.about-us__blockquote {
  margin: 0 0 30px 0;
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-us__blockquote:before {
  content: "“";
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__blockquote:after {
  content: "”";
  width: 39px;
  height: 35px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--main-color,#6C0287);
}

.about-us__container {
  display: flex;
  flex-direction: row-reverse;

}
.about-us__name {
  max-width: 280px;
  display: block;
  padding-right: 10px;
  position: relative;
}

.about-us__name:before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("/img/about-us/arcadiy.png");
  position: absolute;
  left: -107px;
}

@media (max-width: 1200px) {

  .about-us__caption {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about-us__box-bg {
    width: 420px;
    height: 417px;
  }

  .about-us__box-text {
    max-width: 444px;
    padding-left: 39px;
  }
  .about-us__text_right {
    margin-bottom: 26px;
  }

  .about-us__text {
    font-size: 18px;
    line-height: 24px;
  }

  .about-us__blockquote {
    margin-bottom: 19px;
    padding-right: 10px;
    padding-left: 0;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .about-us__blockquote:before {
    content: "“";
    width: 15px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-color,#6C0287);
  }

  .about-us__blockquote:after {
    content: "”";
    width: 15px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    color: var(--main-color, #6C0287);
  }

  .about-us__name {
    max-width: 225px;
    display: block;
    padding-right: 10px;
    position: relative;
  }

  .about-us__name:before {
    content: "";
    width: 70px;
    height: 70px;
    display: block;
    background-image: url("/img/about-us/arcadiy.png");
    background-position: center;
    background-size: cover;
    position: absolute;

    left: -97px;
  }




}
