.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}
.contact__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contact__list {
  margin-bottom: 40px;
}

.contact__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
  position: relative;
}

.contact__item:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.contact__item-address {
  margin-bottom: 44px;
}

.contact__item-address:before {
  width: 32px;
  height: 32px;
  background-image: url("../img/contacts/location.svg");
  left: 1px;
  top: 1ex;
}

.contact__item-phone {
  margin-bottom: 10px;
}

.contact__item-phone:before {
  width: 32px;
  height: 32px;
  background-image: url("../img/contacts/tel.svg");
  background-size: cover;
  left: 1px;
}

.contact__item-mail:before {
  width: 32px;
  height: 24px;
  background-image: url("../img/contacts/mail.svg");
  left: 4px;
  top: 5px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 28px;
}


.social__svg {
  fill:white;
  transition-property: all;
  transition-duration: 0.25s;
  transition-delay: 0.10s;
  transition-timing-function:linear;
}

.social__link:hover .social__svg {
  fill: #EADEED;
}

.social__link:focus .social__svg {
  fill: #EADEED;
  border: 1px solid var(--two-color,#CD06FF)
}

.social__link:active .social__svg {
  fill: var(--two-color,#CD06FF);
  border: none;
}

.contact__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 139px;
}

.footer__container_width {
  max-width: 328px;
}

.footer__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.design__link {
  text-align: end;
}

.desing__name {
  margin-bottom: 5px;
}
