.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}
.contact__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contact__list {
  margin-bottom: 40px;
}

.contact__item {
  padding-left: 60px;
  background-repeat: no-repeat;
}

.contact__item-address {
  margin-bottom: 2em;
  background-image: url("../img2/location2.svg"),
  url("../img2/location1.svg");
  background-size:28px 10px,20px 28px;
  background-position:left bottom 10px,bottom 15px left 4px;
}

.contact__item-phone {
  margin-bottom: 10px;
  background-image: url("../img2/tel.svg"),
  url("../img2/tel2.svg");
  background-size:auto;
  background-position:left, 13px 1px;
}

.contact__item-mail {
  background-image: url("../img2/mail1.svg"),
  url("../img2/mail2.svg");
  background-size: 32px 20px,31px 14px;
  background-position:left, left 1px ;
}


.social__item {
  display: inline-block;
  margin-right: 28px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__svg {
  fill:white
}

.social__link:hover .social__svg {
  fill: #EADEED;
}

.social__link:focus .social__svg {
  fill: #EADEED;
  border: 1px solid #CD06FF
}

.social__link:active .social__svg {
  fill: #CD06FF;
  border: none;
}

.contact__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 200px;
}
.footer__container_width {
  max-width: 328px;
}

.footer__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

}
