.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contact__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contact__list {
  margin-bottom: 40px;
}

.contact__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
  position: relative;
}

.contact__item:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.contact__item-address {
  margin-bottom: 44px;
  max-width: 328px;
}

.contact__item-address:before {
  width: 32px;
  height: 32px;
  background-image: url("../img/contacts/location.svg");
  background-size: cover;
  left: 1px;
  top: 1ex;
}

.contact__item-phone {
  margin-bottom: 10px;
}

.contact__item-phone:before {
  width: 32px;
  height: 32px;
  background-image: url("../img/contacts/tel.svg");
  background-size: cover;
  left: 1px;
}

.contact__item-mail:before {
  width: 32px;
  height: 24px;
  background-image: url("../img/contacts/mail.svg");
  background-size: cover;
  left: 4px;
  top: 5px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.social__svg {
  fill:white;
  transition-property: all;
  transition-duration: 0.25s;
  transition-delay: 0.10s;
  transition-timing-function:linear;
}

.social__link:hover .social__svg {
  fill: #EADEED;
}

.social__link:focus .social__svg {
  fill: #EADEED;
  border: 1px solid var(--two-color,#CD06FF)
}

.social__link:active .social__svg {
  fill: var(--two-color,#CD06FF);
  border: none;
}

.contact__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 139px;
}


.footer__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.design__link {
  text-align: end;
}

.design__name {
  margin-bottom: 5px;
}

@media (max-width: 1200px) {

  .contact__caption {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  .contact__list {
    margin-bottom: 40px;
  }

  .contact__item {
    font-size: 24px;
    line-height: 28px;
    padding-left: 39px;
  }

  .contact__item-address {
    margin-bottom: 39px;
    max-width: 300px;
  }

  .contact__item-address:before {
    width: 26px;
    height: 26px;
  }

  .contact__item-phone {
    margin-bottom: 7px;
  }

  .contact__item-phone:before {
    width: 26px;
    height: 26px;
  }

  .contact__item-mail:before {
    width: 26px;
    height: 19px;
  }

  .social {
    gap: 27px;
  }

  .social__svg {
    width: 38px;
    height: 38px;
    overflow: hidden;
  }

  .contact__flexbox {
    gap: 56px;
    margin-bottom: 92px;
  }

  .footer__container {
    max-width: 542px;
  }

  .footer__map {
    overflow: hidden;
    height: 100%;
  }

}

@media (max-width: 768px) {
  .contact__caption {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .contact__flexbox {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 75px;
  }

  .footer__container_width {
    align-items: center;
  }

  .contact__list {
    display: flex;
    row-gap: 27px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .contact__item {
    font-size: 24px;
    line-height: 28px;
    padding-left: 0;
    text-align: center;
  }

  .contact__item-address {
    margin-bottom: 0;
    width: 280px;
  }

  .contact__item-address:before {
    left: 53px;
    top: 2px;
  }

  .contact__item-phone {
    margin-bottom: 0;
  }

  .contact__item-phone:before {
    left: -34px;
  }

  .contact__item-mail:before {
    left: -34px;
  }

  .social {
    justify-content: center;
  }


  .footer__container {
    max-width: 100%;
    width: 100%;
  }

  .footer__map {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

}

@media (max-width: 480px) {
  .contact__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contact__flexbox {
    gap: 36px;
    margin-bottom: 63px;
  }

  .contact__list {
    row-gap: 10px;
    margin-bottom: 10px;
  }

  .contact__item {
    font-size: 14px;
    line-height: 18px;
  }

  .contact__item-address {
    width: 170px;
  }

  .contact__item-address:before {
    width: 20px;
    height: 20px;
    left: 29px;
    top: -2px;
    }

  .contact__item-phone:before {
    width: 20px;
    height: 20px;
    left: -27px;
    top: -1px;
  }

  .contact__item-mail:before {
    width: 20px;
    height: 15px;
    left: -27px;
    top: -1px;
  }

  .social {
    gap: 21px;
  }

  .social__svg {
    width: 28px;
    height: 28px;
    overflow: hidden;
  }


  .footer__map {
    overflow: hidden;
    height: 194px;
    width: 100%;
  }

  .footer__flexbox {
    flex-direction: column;
    row-gap: 19px;
    align-items: center;
  }

  .design__link {
    text-align: center;
  }

}

