.halls__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.halls__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item {
  width: 580px;
  height: 349px;
  flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  animation-timing-function: linear;
  transition-duration: 0.5s;
}

.halls__item:hover {
  transform: scale(1.1);
}

.halls__name {
  width: 45%;
  margin: auto;
}

.halls__name-star-wars {
  padding-left: 10px;
}

.halls__item-80vibes {
  background-image: url("../img/halls/80vibes.png");
}

.halls__item-star-wars {
  background-image: url("../img/halls/starwars.png");
}

.halls__item-wild-west {
  background-image: url("../img/halls/wildwest.png");
}

.halls__item-neon-style {
  background-image: url("../img/halls/neon.png");
}

@media (max-width: 1200px) {
  .halls__caption {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .halls__item {
    height: 267px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .halls__caption {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  .halls__list {
    row-gap: 17px;
  }

  .halls__item {
    height: 200px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {

  .halls__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .halls__list {
    row-gap: 10px;
  }

  .halls__item {
    height: 168px;
    flex-basis: 100%;
    font-size: 26px;
    line-height: 34px;
  }
}
