.halls__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.halls__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item {
  width: 580px;
  height: 349px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}

.halls__name {
  width: 50%;
  margin: auto;
}

.halls__item-80vibes {
  background-image: url("../img2/80vibes.png");
}

.halls__item-star-wars {
  background-image: url("../img2/starwars.png");
}

.halls__item-wild-west {
  background-image: url("../img2/wildwest.png");
}

.halls__item-neon-style {
  background-image: url("../img2/neon.png");
}
