.services__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 60px;


}

.services__name {

}

.services__item {
  max-width: 380px;
  height: 228px;

}

.services__item-option-1 {
  background-image: url("../img/vr.jpg");
}

.services__item-option-2 {
  background-image: url("../img/audio.jpg");
}

.services__item-option-3 {
  background-image: url("../img/micro.jpg");
}

.services__item-option-4 {
  background-image:url("../img/game.jpg");
}

.services__item-option-5 {
  background-image: url("../img/netflix.jpg");
}

.services__item-option-6 {
  background-image: url("../img/sony.jpg");
}
