.services__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.services__caption {
  max-width: 980px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0 50px;
}

.services__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.services__item {
  width: 380px;
  height: var(--height-cart);
  padding-left: 40px;
  display: flex;
  flex-direction: column-reverse;
  flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: services-size;
  animation-timing-function: linear;
  transition-duration: 0.5s;
}

.services__item:nth-child(2) {
  margin-top: 70px;
}

.services__item:nth-child(2n+4) {
  margin-top: -70px;
}

.services__item:hover {
  transform: scale(1.1);
}

.services__name {
  min-height: 3em;
}

.services__name-option-2 {
  padding-right: 100px;
}

.services__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.services__item-option-1 {
  background-image: url("../img/servises/vr.jpg");
}

.services__item-option-2 {
  background-image: url("../img/servises/audio.jpg");

}

.services__item-option-3 {
  background-image: url("../img/servises/micro.jpg");
}

.services__item-option-4 {
  background-image:url("../img/servises/game.jpg");
}

.services__item-option-5 {
  background-image: url("../img/servises/netflix.jpg");

}

.services__item-option-6 {
  background-image: url("../img/servises/sony.jpg");
}

