.services__caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 20px;



}

.services__name {
  font-weight: 700;

}

.services__item {
  width: 380px;
  height: 228px;
  padding-left: 40px;

}

.services__item-option-1 {
  background-image: url("../img/vr.jpg");
}

.services__item-option-2 {
  background-image: url("../img/audio.jpg");
}

.services__item-option-3 {
  background-image: url("../img/micro.jpg");
}

.services__item-option-4 {
  background-image:url("../img/game.jpg");
}

.services__item-option-5 {
  background-image: url("../img/netflix.jpg");
}

.services__item-option-6 {
  background-image: url("../img/sony.jpg");
}
