:root {
  --main-color: #6C0287;
  --two-color: #CD06FF;
  --bg-color:#440F51;
  --three-color: #840AA3;
  --border-color: #640AA3;
}


.services {
  --cart-count: 3;
  --gap: 20px;
  --height-cart: 228px ;
}

.halls {
  --cart-count: 2;
  --gap: 20px;
}

.booking {
  --cart-count: 4;
  --gap: 60px;

}


@media (max-width: 1200px) {

  .services {
    --cart-count: 3;
    --gap: 22px;
    --height-cart: 172px ;
  }

  .booking {
    --cart-count: 4;
    --gap: 29px;
  }



}

@media (max-width: 768px)  {
  .services {
    --cart-count: 2;
    --gap: 20px;
    --height-cart: 200px ;
  }
}

@media (max-width: 320px)  {
  .services {
    --cart-count: 2;
    --gap: 10px;
    --height-cart: 75px ;
  }

  .booking {
    --cart-count: 2;
    --gap: 20px;
  }
}

